* {
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}
.row::after {
  clear: both;
}
.col-3, .col-4, .col-6, .col-12 {
  float: left;
  width: 100%;
  margin: 1.04166666%;
}
/* Non-mobile, grid */
@media only screen and (min-width: 640px) {
  /* 3 columns, 3/12 in % */
  .col-3 {
    width: calc(25% - 2.08333332%);
  }

  /* 4 columns */
  .col-4 {
    width: calc(33.33% - 2.08333332%);
  }

  /* 6 columns */
  .col-6 {
    width: calc(50% - 2.08333332%);
  }

  /* 12 columns */
  .col-12 {
    width: calc(100% - 2.08333332%);
  }
}