ul li {
    list-style: none;
    float: right;
}
a { text-decoration: none; color: black; }
nav { float: right; }
.logo { margin: 0; }
header .secondary_menu { float: right;}
header .row { padding: 0; }
hr {border: 1px solid #c00; margin: 0;}
header { padding: 0 30px;}
.pipe_img:before { content: "|"; margin: 0 5px; color: #c00; }
.placeHolder_menu_bar { margin-bottom: 3px; }
.social_nav ul li { margin: 0 2px; }
.bottom_menu { padding: 12px 0; }
footer { border-top: 2px solid #c00; }
footer { background-color: #666; color: white; font-size: .8em; }
footer p { line-height: 20px; }
footer a { color:white; }
.footer_menu { padding: 12px 0; }
a:hover { text-decoration: underline; }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

img { max-width: 100% }
nav { float: left;  margin-bottom: 20px; }

}