<meta name="author" content="" />
<meta name="robots" content="index, follow" />
<meta property="og:type" content="university" />
<meta property="og:site_name" content="IIT Chicago-Kent College of Law" />
<link rel="profile" href="http://microformats.org/profile/hcard" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/style.css" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/prettyPhoto.css" media="screen" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/jquery.ad-gallery.css" media="screen" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/ck_screen.css" media="screen" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/ck_screenZoom.css" media="screen" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/ck_print.css" media="print" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/ck_printZoom.css" media="print" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/jquery-ui/jquery-ui.css" media="screen" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/ck_screenLevel.css" media="screen" />
<link rel="stylesheet" href="//kentlaw.iit.edu/prebuilt/css/ck_printLevel.css" media="print" />
<script type="text/javascript" src="//kentlaw.iit.edu/prebuilt/js/libs/jquery.min.js"></script><script type="text/javascript" src="//kentlaw.iit.edu/prebuilt/js/libs/jquery-ui.min.js"></script><script src="http://kentlaw.iit.edu/prebuilt/js/libs/modernizr-2.0.6.min.js"></script>
<script>

	var mainSiteHomepage = "//kentlaw.iit.edu/";
	var serviceURL = "http://kentlaw.iit.edu/Services/ExtractHomepageSections.ashx";

	function cleanForCalendar(html) {

		var exploded =  html.split(/href=\"/);
		for (var i = 1; i < exploded.length; i++) {
			if (exploded[i].indexOf("http") != 0 && exploded[i].indexOf("javascript") != 0) {
				exploded[i] = mainSiteHomepage + exploded[i];
			}
		}
		html = exploded.join("href=\"");

		exploded =  html.split(/action=\"/);
		for (var i = 1; i < exploded.length; i++) {
			if (exploded[i].indexOf("http") != 0 && exploded[i].indexOf("javascript") != 0) {
				exploded[i] = mainSiteHomepage + exploded[i];
			}
		}
		html = exploded.join("action=\"");

		return html;

	}

	$(document).ready(function() {

		// clean up for the pre-existing code
		$("#pnlHide>table:last").css("background-color", "#ffffff");
		$("#Calendar1>tbody>tr:first").css("background-color","#ffffff");
		$("#pnlHideHead>table:last").css("background-color","#ffffff");
		$("#PageTable").css("background-color","#ffffff");
		$("#tblPoweredByADE").css("margin-bottom","10px").css("font-size","0.8em");
		$("#calendartexttable").css("font-size", "0.9em");
		$("#logo").wrap(
			$("<a>").attr("title", "Return to our home page").attr("href", mainSiteHomepage)
		);

		$.ajax({
			url: serviceURL,
			success: function (data) {

				$("#header").html(cleanForCalendar($(data.header).html()));
				$("#footer").html(cleanForCalendar($(data.footer).html()));

				// get quicklinks and other items working again
				$("#links").bind('mouseover', function() {
					$("#list").show();
				});

				$("#links").bind('mouseout', function() {
					$("#list").hide();
				});

				$("#header_search_form").live('submit', function(e) {
					if ($("#header_search").val() == '' || $("#header_search").val() == 'Search Chicago-Kent') {
						e.preventDefault();
						$("#header_search").val('');
						$(this).submit();
					}
				});

				$("#header_search").focus(function() {
					if (!$.data(document.body, 'searchdefault')) {
						$.data(document.body, 'searchdefault', $(this).val());
					}
					if ($(this).val() == $.data(document.body, 'searchdefault')) {
						$(this).val('');
					}
				}).blur(function() {
					if ($(this).val() == '') {
						$(this).val($.data(document.body, 'searchdefault'));
					}
				});

				$("#logo").wrap(
					$("<a>").attr("title", "Return to our home page").attr("href", mainSiteHomepage)
				);

			},
			async: true,
			dataType: "jsonp",
			type: 'GET'
		});
	});



</script>

<header id="header">

  <!-- static html -->
  <div title="IIT Chicago-Kent College of Law" class="access">
    <p> Welcome to IIT Chicago-Kent College of Law </p>
    <p> Accessibility Navigation: </p>
    <ul>
      <li><a href="academics#column1" title="Skip to Content">Skip to Content</a></li>
      <li><a href="academics#side_nav" title="Skip to Side Bar Navigation">Skip to Side Bar Navigation</a></li>
      <li><a href="academics#audience" title="Skip to Audience Oriented Navigation">Skip to Audience Oriented Navigation</a></li>
      <li><a href="academics#primary" title="Skip to Primary Section Navigation">Skip to Primary Section Navigation</a></li>
      <li><a href="academics#quick" title="Skip to Quick Link Navigation and Search">Skip to Quick Link Navigation and Search</a></li>
      <li><a href="academics#footer" title="Skip to Page Footer">Skip to Page Footer</a></li>
    </ul>
  </div>
  <div id="quick">
    <p class="access"> Quick Links and Search </p>
    <div class="holder">
      <form name="header_search_form" id="header_search_form" method="get" action="search/better-search-results">
        <p>
          <input type="text" name="q" id="header_search" size="20" value="Search Chicago-Kent">
          <input type="submit" id="header_search_submit" value="Go">
          <input type="hidden" name="start" value="0">
          <input type="hidden" name="num" value="25">
        </p>
      </form>
      <nav id="toplinks">
        <ul>
          <li data-test=""><a href="http://calendar.kentlaw.iit.edu/" title="" target="_top">Calendar</a></li>
          <li data-test=""><a href="http://cle.kentlaw.edu/" title="" target="_top">CLE</a></li>
          <li data-test="x1122"><a href="seeking-legal-help" title="The Law Offices at Chicago-Kent College of Law, the law school of Illinois Institute of Technology, offers legal services and advice for members of the general public." target="_top">Legal Services</a></li>
          <li data-test="x1123"><a href="giving" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, offers several ways for alumni and friends to financially contribute to the law school." target="_top">Giving</a></li>
        </ul>
      </nav>
      <div id="links"><a href="javascript:;"><img src="//kentlaw.iit.edu/prebuilt/img/quicklinks.png" alt="Quick Links"></a>
        <div id="list" style="display: none; ">
          <nav>
            <ul>
              <li data-test="x866"><a href="prospective-students/jd-program-admissions" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, makes it convenient for students to apply to our J.D. Program by using our online application form." target="_top">Admissions - JD Program</a></li>
              <li data-test="x920"><a href="prospective-students/llm-program-admissions" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, makes it easy for students to apply to our LL.M. Programs by using our self-managed online application forms." target="_top">Admissions - LLM Programs</a></li>
              <li data-test=""><a href="http://www.dtc.bkstore.com" title="" target="_blank">Bookstore - IIT Downtown Campus</a></li>
              <li data-test="x814"><a href="academics/academic-calendar" title="" target="_top">Calendar - Academic</a></li>
              <li data-test=""><a href="http://calendar.kentlaw.iit.edu" title="" target="_blank">Calendar - Events</a></li>
              <li data-test="x705"><a href="faculty-and-staff/directories" title="" target="_top">Directories</a></li>
              <li data-test="x886"><a href="prospective-students/jd-program-admissions/visit-campus/directions-and-transportation" title="" target="_top">Maps/Directions</a></li>
              <li data-test="x1386"><a href="news" title="" target="_top">News</a></li>
              <li data-test=""><a href="http://www.oyez.org/" title="" target="_blank">The Oyez Project</a></li>
              <li data-test=""><a href="http://www.kentlaw.edu/record" title="" target="_blank">The Record</a></li>
              <li data-test=""><a href="https://webmail.kentlaw.edu/" title="" target="_blank">Webmail</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div id="audience">
    <p class="access"> Audience Oriented Navigation </p>
    <div class="holder"><a href="" title="Return to our home page"><img src="//kentlaw.iit.edu/prebuilt/img/ck_logo.png" alt="IIT Chicago-Kent College of Law" id="logo"></a>
      <nav><span> Information For: </span>
        <ul>
          <li data-test="x665"><a href="prospective-students" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, offers full- and part-time J.D. and LL.M. programs and joint degrees in law and business in downtown Chicago." target="_top">Prospective Students</a></li>
          <li data-test="x670"><a href="current-students" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, offers full- and part-time J.D. and LL.M. programs and joint degrees in law and business in downtown Chicago." target="_top">Current Students</a></li>
          <li data-test="x678"><a href="alumni" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, offers an abundance of benefits and services for its alumni community." target="_top">Alumni</a></li>
          <li data-test="x672"><a href="international-students" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, is comprised of an internationally, diverse student body and faculty." target="_top">International Students</a></li>
          <li data-test="x700"><a href="faculty-and-staff" title="" target="_top">Faculty &amp; Staff</a></li>
          <li data-test="x679"><a href="employers" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, helps to match qualified candidates to companies and law firms across the country." target="_top">Employers</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div id="primary">
    <p class="access"> Primary Section Navigation </p>
    <nav>
      <ul>
        <li data-test="x663" class="selected"><a href="academics" title="Chicago-Kent College of Law, the law school of Illinois Institute of Technology, offers full- and part-time J.D. and LL.M. programs and joint degrees in law and business in downtown Chicago." target="_top">Academics &amp; Skills Training</a></li>
        <li data-test="x664"><a href="career-preparation" title="The Career Services Office (CSO) at Chicago-Kent College of Law assists students and alumni reach their career goals and aids employers in attracting qualified candidates." target="_top">Career Preparation</a></li>
        <li data-test="x1119"><a href="faculty" title="The law school faculty members at Chicago-Kent are seasoned practitioners and scholars who thoroughly prepare today's students to become tomorrow's legal leaders." target="_top">Faculty</a></li>
        <li data-test="x761"><a href="institutes-centers" title="" target="_top">Institutes &amp; Centers</a></li>
        <li data-test="x764"><a href="http://library.kentlaw.edu" title="Library" target="_blank">Library</a></li>
        <li data-test="x765"><a href="the-c-k-experience" title="As a student at Chicago-Kent College of Law you will be part of an active campus and within walking distance to many great amenities in the city of Chicago." target="_top">The C-K Experience</a></li>
      </ul>
    </nav>
  </div>
</header>
<div id="main" role="main" class="level">
<div id="header_shadow"></div>
<div id="content">
