</div>
</div>

<footer id="footer">

  <!-- static html -->

  <div id="upper">
    <div class="holder">
      <p xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:relevance="http://a9.com/-/opensearch/extensions/relevance/1.0/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:oyez="http://www.oyez.org/RDF#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"> ©2011Chicago-Kent College of Law, Illinois Institute of Technology<br>
        <a href="http://maps.google.com/maps?q=565+West+Adams+Street,+Chicago,+IL+60661-3691+&amp;hl=en&amp;ll=41.879387,-87.642252&amp;spn=0.010592,0.026157&amp;sll=37.0625,-95.677068&amp;sspn=48.287373,107.138672&amp;vpsrc=0&amp;hnear=565+W+Adams+St,+Chicago,+Illinois+60661&amp;t=m&amp;z=16&amp;iwloc=A">565 West Adams Street, Chicago, IL 60661-3691</a> | Phone: (312) 906-5000
        | Fax: (312) 906-5280</p>
      <div id="socialmediaicons" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/" xmlns:relevance="http://a9.com/-/opensearch/extensions/relevance/1.0/" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:oyez="http://www.oyez.org/RDF#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <ul>
          <li class="icon"><a href="http://www.facebook.com/ChicagoKentLaw" title="Facebook" target="_blank"><img src="http://kentlaw.iit.edu/Images/icon_facebook.png" height="21" width="21" alt=""></a></li>
          <li class="icon"><a href="http://twitter.com/ChicagoKentLaw" title="Twitter" target="_blank"><img src="http://kentlaw.iit.edu/Images/icon_twitter.png" height="21" width="21" alt=""></a></li>
          <li class="icon"><a href="https://plus.google.com/#112289794205501130340/posts" title="Google+" target="_blank"><img src="http://kentlaw.iit.edu/Images/icon_googleplus.png" height="21" width="21" alt=""></a></li>
          <li class="icon"><a href="http://www.linkedin.com/groupInvitation?gid=71469&amp;sharedKey=2839B80CA393" title="LinkedIn" target="_blank"><img src="http://kentlaw.iit.edu/Images/icon_linkedin.png" height="21" width="21" alt=""></a></li>
          <li class="icon"><a href="http://www.youtube.com/ChicagoKentLaw" title="YouTube" target="_blank"><img src="http://kentlaw.iit.edu/Images/icon_youtube.png" height="21" width="21" alt=""></a></li>
          <li class="icon"><a href="http://blogs.kentlaw.edu" title="Chicago-Kent Blogs" target="_blank"><img src="http://kentlaw.iit.edu/Images/icon_blogs.png" height="21" width="21" alt="blog icon"></a></li>
          <li class="icon"><a href="the-c-k-experience/connect-to-iit-chicago-kent"><img src="//kentlaw.iit.edu/prebuilt/img/icon_moresocial.png" width="15" height="20" alt="More Social Media"></a></li>
        </ul>
      </div>
    </div>
    <div id="footer_shadow"></div>
  </div>
  <div id="lower">
    <div class="holder">
      <nav id="iit_links">
        <ul>
          <li data-test=""><a href="http://www.iit.edu/" title="" target="_blank">Illinois Institute of Technology</a></li>
          <li data-test=""><a href="http://www.iit.edu/about/department_sites.shtml" title="" target="_blank">IIT Academic Programs</a></li>
          <li data-test=""><a href="http://www.iit.edu/cdr/" title="" target="_blank">IIT Center for Disability Resources</a></li>
        </ul>
      </nav>
      <nav id="global_links">
        <ul>
          <li data-test="x1102"><a href="current-students/tuition-and-financial-assistance/contact-us" title="Find out how to contact the Financial Aid Office at Chicago-Kent here." target="_top">Contact Us</a></li>
          <li data-test="x705"><a href="faculty-and-staff/directories" title="" target="_top">Directories</a></li>
          <li data-test="x886"><a href="prospective-students/jd-program-admissions/visit-campus/directions-and-transportation" title="" target="_top">Directions and Transportation</a></li>
          <li data-test="x698"><a href="academics/accreditation" title="" target="_top">Accreditation</a></li>
        </ul>
      </nav>
      <div id="myiitlogo"><a href="https://my.iit.edu/cp/home/displaylogin" title="My IIT"><img src="//kentlaw.iit.edu/prebuilt/img/logo_my_iit.png" width="39" height="37" alt="My IIT"></a></div>
    </div>
  </div>
</footer>

<!-- scripts that were listed at bottom -->
<script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.bxSlider.min.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.easing.1.3.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.syncheight.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.prettyPhoto.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.ad-gallery.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.zaccordion.min.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/jquery.qtip-1.0.0-rc3.min.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/captify.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/plugins.js"></script><script type="text/javascript" src="//www.kentlaw.iit.edu/prebuilt/js/script.js"></script>
<script type="text/javascript">

	$(document).ready(function() {

		$("#divTimePicker").css("z-index","999").css("position","absolute");

	});

</script>