</div>
</div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 address">
          <p>Chicago-Kent College of Law, Illinois Institute of Technology<br>
            <a href="https://www.google.com/maps/place/565+W+Adams+St,+Chicago,+IL+60661/@41.879387,-87.642252,16z/data=!4m5!3m4!1s0x880e2cc16ba278f1:0x28aa824c1f03e029!8m2!3d41.8790959!4d-87.6422532?hl=en" target="_blank">565 West Adams Street, Chicago, IL 60661-3691</a><br>
            <a href="tel:1-312-906-5000">Phone: (312) 906-5000</a> <span class="pipe_img"> Fax: (312) 906-5280</span> </p>
        </div>
        <div class="col-md-6 footer_menu">
          <nav class="social_nav">
            <ul class="list_links">
              <li> <a href="http://www.kentlaw.iit.edu/rss"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_rss.png"/> </a> </li>
              <li> <a href="http://instagram.com/chicagokentlaw"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_instagram.png"/> </a> </li>
              <li> <a href="http://blogs.kentlaw.iit.edu/"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_blogs.png"/> </a> </li>
              <li> <a href="http://www.youtube.com/ChicagoKentLaw"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_youtube.png"/> </a> </li>
              <li> <a href="http://www.linkedin.com/groups?gid=71469&amp;sharedKey=2839B80CA393"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_linkedin.png"/> </a> </li>
              <li> <a href="https://plus.google.com/u/0/112289794205501130340/posts"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_googleplus.png"/> </a> </li>
              <li> <a href="http://twitter.com/ChicagoKentLaw"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_twitter.png"/> </a> </li>
              <li> <a href="http://www.facebook.com/ChicagoKentLaw"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/icon_facebook.png"/> </a> </li>
            </ul>
          </nav>
          <nav class="secondary_menu">
            <ul class="list_links">
              <li class="pipe_img"><a href="https://www.kentlaw.iit.edu/site-forms/website-contact">Contact Us</a></li>
              <li><a href="https://www.kentlaw.iit.edu/prospective-students/jd-program-admissions/visit-campus/directions-and-transportation">Directions and Transportation</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</div>
<script type="text/javascript">

  $(document).ready(function() {

    $("#divTimePicker").css("z-index","999").css("position","absolute");

  });

</script>