<meta property="og:type" content="university" />
<meta property="og:site_name" content="IIT Chicago-Kent College of Law" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Chicago-Kent Calendar</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">

<!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script>window.html5 || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"><\/script>')</script>
        <![endif]-->
<style>
  body { font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; height: 100%;}
  .main { margin-top: 1%; margin-bottom: 3.5%; }
  .main_registration { margin: 1% auto; }
  h4 { padding-bottom: 20px; }
  .list_links li { list-style: none; float: right; }
  .top_menu li a, .bodycopy b a { text-decoration: none; color: #0097bb; }
  nav.secondary_menu, nav.social_nav, .secondary_menu_links { float: right; }
  .logo { margin: 0;  padding-left: 0; }
  header { border-bottom: 2px solid #c00; margin-top: 30px; padding: 0 30px; }
  .form-control, legend { width: 50%; }
  .attendee { margin: 50px 0; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { border-top: 0px; padding: 0px; }
table#PageTable tbody tr > td { padding-right: 5px; padding-top: 5px;}
h4.adx_wcag_header { padding-bottom: 3px; font-weight: bold;}
.listcolumnheadtext { background-color: #231f20; }
  #page_title { margin: 40px 0; }
  .pipe_img:before { content: "|"; margin: 0 5px; color: #c00; }
  .placeHolder_menu_bar, { margin-bottom: 3px; }
  .social_nav ul li { margin: 0 2px; }
  .bottom_menu { padding: 12px 0; }
  footer { border-top: 2px solid #c00; padding: 20px 0; }
  footer {  background-color: #666; color: white; font-size: 1em; }
  footer p { line-height: 20px; font-size: 1em; }
  footer a { color: white; }
  .footer_menu { padding: 12px 0; }
  footer a:hover, .top_contact_links a:hover { text-decoration: underline; color: white; }
  header nav a:hover, .top_contact_links a:hover, .container.main a:hover { color: black; }
   @media only screen and (max-width : 800px)
   {
  /* Mobile Styles */
  #page_title { text-align: center; }
  .logo { display: inline-block; text-align: center; }
  .logo img { max-width: 100%}
  header nav { text-align: center; }
  header .row { text-align: center; }
  footer { max-height: 100% }
  footer .row { text-align: center; }
  footer nav.secondary_menu, nav.social_nav { float: none; text-align: center; }
  footer nav.secondary_menu, nav.social_nav { display: inline-block; margin: 10px; }

  header nav { margin: 10px 0; text-align: center; display: inline-block; }
  footer .secondary_menu { margin: 0; float:none; }
  .footer_menu ul { padding: 0; }
  .social_nav { margin: 0; }
  nav.secondary_menu_links { float: none; display: inline-block; text-align: center; }
  nav.secondary_menu_links ul{ padding: 0; }
  nav.secondary_menu_links ul a{ font-size: .8em; }
  .top_menu { padding: 0; }
  .form-control, legend { width: 100%; }
}
</style>
<body>
<div class="container-fluid">
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 logo"> <img src="http://www.kentlaw.edu/depts/pubaff/standalone_webpage_assets/img/CK_Logo.png"/> </div>
      <div class="col-md-6 col-sm-12 top_menu">
        <nav class="secondary_menu_links">
          <ul class="list_links">
            <li class="pipe_img"><a href="https://my.iit.edu/" target="_blank">myIIT</a></li>
            <li class="pipe_img"><a href="http://www.kentlaw.edu/record/" target="_blank">The Record</a></li>
            <li><a href="http://www.kentlaw.iit.edu/" target="_blank">Chicago-Kent Home</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row">
      <h1 id="page_title">Chicago-Kent Public Calendar</h1>
    </div>
  </div>
</header>
<div class="level container main table-responsive" id="main" role="main">
    <div id="content">